input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg:nth-child(2) {
  @apply block;
  @apply text-red-600;
}
input:checked + div svg:nth-child(1) {
  @apply hidden;
}

.flipY {
  transform: rotateY(-180deg);
}

.front.faceup {
  transform: rotateY(0deg);
}
.front {
  transform: rotateY(180deg);
}
.front.faceup:hover {
  /* animation: flipping 3s cubic-bezier(0.4, 0, 0.2, 1) infinite; */
}
.back {
  transform: rotateY(-180deg);
}
.back.faceup {
  transform: rotateY(0deg);
}

@keyframes flipping {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
