input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg:nth-child(2) {
  @apply block;
  @apply text-red-600;
}
input:checked + div svg:nth-child(1) {
  @apply hidden;
}

.flipY {
  transform: rotateY(-180deg);
}

.front {
  transform: rotateY(180deg);
}
.front.faceup {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(-180deg);
}
.back.faceup {
  transform: rotateY(0deg);
}
